.comingSoon {
    font-family: 'Josefin-Medium', sans-serif;
    font-size: 1.3rem;
    width: auto;
    height: 80vh;
    text-align: center;
    align-content: center;
    margin: 90px 2% 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.comingSoon p {
    font-family: 'Josefin-Light', sans-serif;
}
