:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
    font-family: 'NixieOne';
    src: url('/font/NixieOne-Regular.ttf');
}

@font-face {
    font-family: 'NicoMoji'; 
    src: url('/font/NicoMoji-Regular.ttf');
}

@font-face {
    font-family: 'KeaniaOne'; 
    src: url('/font/KeaniaOne-Regular.ttf');
}

@font-face {
    font-family: 'NixieOne'; 
    src: url('/font/NixieOne-Regular.ttf');
}

@font-face {
    font-family: 'Josefin-Bold'; 
    src: url('/font/josefin/JosefinSans-Bold.ttf');
}

@font-face {
    font-family: 'Josefin-Light'; 
    src: url('/font/josefin/JosefinSans-Light.ttf');
}

@font-face {
    font-family: 'Josefin-Medium'; 
    src: url('/font/josefin/JosefinSans-Medium.ttf');
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
