:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
    font-family: 'NixieOne';
    src: url('/font/NixieOne-Regular.ttf');
}

@font-face {
    font-family: 'NicoMoji'; 
    src: url('/font/NicoMoji-Regular.ttf');
}

@font-face {
    font-family: 'KeaniaOne'; 
    src: url('/font/KeaniaOne-Regular.ttf');
}

@font-face {
    font-family: 'NixieOne'; 
    src: url('/font/NixieOne-Regular.ttf');
}

@font-face {
    font-family: 'Josefin-Bold'; 
    src: url('/font/josefin/JosefinSans-Bold.ttf');
}

@font-face {
    font-family: 'Josefin-Light'; 
    src: url('/font/josefin/JosefinSans-Light.ttf');
}

@font-face {
    font-family: 'Josefin-Medium'; 
    src: url('/font/josefin/JosefinSans-Medium.ttf');
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #2A272B;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.button-glow {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 18px 58px;
    border-radius: 50px;
    border: none;

    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;

    background: linear-gradient(90deg, #4b0082, #b455f0);
    cursor: pointer;

    box-shadow: 0 0 18px rgba(180, 85, 240, 0.6);
    transition: transform 0.15s ease, box-shadow 0.2s ease;
}

.button-glow:hover {
    box-shadow: 0 0 25px rgba(200, 100, 255, 0.9);
    transform: translateY(-2px);
}

.button-glow svg {
    width: 18px;
    height: 18px;
    fill: white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

