.banner {
  position: absolute;
  width: 100%;
  height: 90vh;
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  text-align: center;
  align-content: center;
}

.bannerTitle {
  font-family: 'NixieOne', sans-serif;
  font-size: 5rem;
  font-weight: normal;
}

.bannerCountdown {
  margin-top: 1rem;
  font-family: 'KeaniaOne', sans-serif;
  font-size: 4rem;
  font-weight: normal;
}

.bannerShadowContainer {
  position: absolute;
  height: 91vh;
  top: 0;
  width: 100%;
  z-index: 3;
  align-content: end;
}

.bannerShadow {
  object-fit: cover;
  height: auto;
  width: 100%;

}

.video {
  position: relative;
  top: 0;
  width: 100%;
  height: 89vh;
}

.newYearSection {
  background-color: #090909;
  width: 100%;
  height: 500px;
  padding: 2% 15% 3% 15%;
}

.newYearContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  text-align: center;
}

.newYearDesc {
  width: 100%;
}

.newYearBrand {
  font-family: 'NicoMoji', sans-serif;
}

.newYearBrand h1 {
  font-size: 2.5rem;
}

.newYearDesc h1 {
  font-family: 'NixieOne', sans-serif;
  font-size: 4rem;
  font-weight: normal;
}

.newYearDesc p {
  margin-top: 1rem;
  font-family: 'Josefin-Light', sans-serif;
  font-size: 1.2rem;
}
