.footer {
    width: 100vw;
    height: 25rem;
    bottom: 0;
    text-align: center;
    background-color: #0C0E11;
}

.footerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footerSectionContainer {
    margin-top: -80px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.footerSection {
    width: 100%;
    margin: 0 5% 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.miniSection {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.miniSection2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}


.miniSectionSocial {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.usefulLinks {
    display: flex;
    text-decoration: underline;
    gap: 0.3rem;
    flex-direction: column;
}

.footerLogo {
    margin-top: -60px;
}

.footerLogo img {
    max-height: 135px;
}

.contacts {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.contacts a {
    text-decoration: underline;
    font-style: italic;
}

.address {
    font-size: 0.9rem;

}

.copyright {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
@media screen and (max-width: 1200px) {

    .footer {
        height: 25rem;
    }

    .footerSectionContainer {
        width: auto;
        gap: 40px;
    }

    .miniSection {
        width: 100%;
        text-align: center;
    }

    .miniSection2 {
        width: 100%;
        text-align: center;
    }

    .miniSectionSocial {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {

    .footer {
        margin-top: 100px;
        height: 40rem;

    }

    .footerContainer {

    }

    .footerSectionContainer {
        margin-top: 0;
        justify-content: space-around;
        flex-direction: column;
        gap: 0;
    }

    .miniSection {
        margin: 0;
    }

    .footerSection {
        margin: 0;
        text-align: center;
        flex: 40;
        justify-content: space-around;
    }
}