.footer {
    width: 100vw;
    height: 150px;
    bottom: 0;
    text-align: center;
    background-color: #0C0E11;
}

.footerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footerSectionContainer {
    margin-top: -80px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerSection {
    width: 100%;
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: space-around;
}

.miniSection {
    width: 45%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.miniSection2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.miniSectionSocial {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.usefulLinks {
    display: flex;
    text-decoration: underline;
    gap: 0.3rem;
    flex-direction: column;
}

.footerLogo {
    margin-top: -40px;
}

.contacts {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.address {
    font-size: 0.9rem;

}

.copyright {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}