.footer {
    width: 100vw;
    height: 150px;
    bottom: 0;
    text-align: center;
    background-color: #0C0E11;
}

.footerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footerSectionContainer {
    margin-top: -80px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerSection {
    width: 100%;
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: space-around;
}

.miniSection {
    width: 45%;
    text-align: left;
    border: 1px solid yellow;
}

.footerLogo {
    margin-top: -40px;
}

