.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background: rgba(12, 14, 17, 0.8);
    position: fixed;
    z-index: 10;
    top: 0;
}

.headerTitle {
    font-family: 'NicoMoji', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
}

.logo {
    width: 120px;
    margin-left: 15px;
}

.logo img {
    height: 75px;
}

.logo button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu {
    width: 120px;
    text-align: right;
    margin-right: 15px;
}

.menu button {
    border: none;
    background: none;
    cursor: pointer;
}