.menu {
    width: 100%;
    height: auto;
    background: rgba(12, 14, 17, 0.8);
    position: fixed;
    top: 80px;
    z-index: 10;
    animation: showMenu 0.5s ease-in-out forwards;
}

.menuContainer {
    display: flex;
    flex-wrap:wrap;
    gap: 5%;
    row-gap: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 5% 0 5% 0;
    padding: 0 3% 0 3%;
}

.menuList {
    flex: 200px;
    text-wrap: nowrap;
    font-family: 'Josefin-Medium', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menuEntries {
    font-family: 'Josefin-Light', sans-serif;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-decoration: underline;
}

.menuEntries a{
    transition: 0.3s;

}

.menuEntries a:hover {
    color: #c9a1ec;
    transition: 0.3s;
}

@keyframes showMenu {
    from {
        display: none;
        opacity: 0;
        height: 0;
    }
    to {
        opacity: 1;
        display: block;
        height: auto;
    }

}

