.menu {
    width: 100%;
    height: 200px;
    background: rgba(12, 14, 17, 0.8);
    position: fixed;
    top: 80px;
    z-index: 10;
    animation: showMenu 0.5s ease-in-out forwards;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menuList {
    font-family: 'Josefin-Medium', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menuEntries {
    font-family: 'Josefin-Light', sans-serif;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-decoration: underline;
}

.menuEntries a{
    transition: 0.3s;

}

.menuEntries a:hover {
    color: #c9a1ec;
    transition: 0.3s;
}

@keyframes showMenu {
    from {
        display: none;
        opacity: 0;
        height: 0;
    }
    to {
        opacity: 1;
        display: block;
        height: 200px;
    }

}