.photosCarousel {
    max-width: 85%;
    margin: auto;
    --slide-height: 30rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
}
.photosViewport {
    overflow: hidden;
}
.photosCarouselContainer {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}
.photoSlide {
    position: relative;
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--slide-height);
}

.photoSlideContainer {
    position: relative;
    box-shadow: 0 0 40px rgba(75, 56, 74, 1);
    border-radius: 3rem;
    width: 90%;
    height: 80%;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    overflow: hidden;
}

.photoSlideImg {
    object-fit: cover;
    width: 100%;
}

.photoSlide .photoText {
    font-family: 'Josefin-Medium', sans-serif;
    position: absolute;
    z-index: 3;
    background-color: #151515;
    width: 25%;
    text-align: center;
    align-content: center;
    height: 15%;
    font-size: 1.7rem;
    border-radius: 5rem;
    margin-top: 25%;
    box-shadow: 0 0 40px rgba(75, 56, 74, 1);
}

.photoSlideContainer .photoSlideOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.photoDots {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
}
.embla__dot {
    border: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 2.6rem;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dotAesthetic {
    width: 100%;
    min-width: 100%;
    height: 10%;
    border-radius: 30px;
    background-color: rgba(151, 151, 151, 1);
}

.embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 100px;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
}

.embla__dot__selected .dotAesthetic {
    background-color: white;
}

.embla__dot__selected:after {
    box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
