.sponsor {
    max-width: 100%;
    margin: auto;
    --slide-height: 100%;
    --slide-spacing: 1rem;
    --slide-size: 30vw;
}
.sponsorViewport {
    overflow: hidden;
}
.sponsorContainer {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}
.sponsorSlide {
    aspect-ratio: 21/9;
    width: 100%;
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
}
.sponsorSlideInner {
    position: relative;
    border-radius: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
    margin: 10px 10px 10px 10px;
}

.sponsorSlideInner img{
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .sponsor {
        --slide-size: 18rem;
    }
}